# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/
.mvn
HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### .env ###
service/.env
*.env
*/main/gen/
/clientLibraries/
/sonar-report/
